*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{ 
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url(eduford_img/banner3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{  
    width: 150px;

}
.nav-links{  
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 28px;
    color: #fff;
}




/*---- message page ----*/
.sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(eduford_img/contact-us.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}

/*---- profile page ----*/
.pro-header{
    min-height: 50vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(eduford_img/profile.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}
/*---- route page ----*/
.route-header{
    min-height: 50vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(eduford_img/route.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
/*---- vehicle page ----*/
.vehicle-header{
    min-height: 50vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(eduford_img/vehicle.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
/*---- task page ----*/
.task-header{
    min-height: 50vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(eduford_img/task.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
/*---- login page ----*/
.login-header{
    min-height: 20vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
    ,url(eduford_img/banner3.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
     position: relative;
     left: 125%;
    text-align: center;
 }   
     
  
.container {   
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
     padding: 25px;   
     background-color: rgba(184, 181, 181, 0.7);  
     border-radius: 25px;
     border: 2px solid rgb(15, 15, 15);
     width: 382px;
 }   
